<div class="col-md-12">
  <!-- <div class="center jumbotron">
    <h1>Welcome to the Store</h1>
    <h2>
      This is the home page of the Store
    </h2>
    <div class="center_label">
      <%= link_to "Featured Products", products_promotion_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to "All Products", products_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div> -->
</div>


