<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Section Details</h3>
    </div>
    <div class="panel-body content-panel">
      <dl class="dl-horizontal">
        <dt><strong>Section:</strong></dt>
        <dd><%= @section.name %></dd>
      </dl>
      <hr>
      <%= link_to 'Sections List', sections_path, class: 'btn btn-sm btn-default' %>
      <%= link_to 'Edit', edit_section_path(@section), class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Delete', section_path(@section), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>