@import "bootstrap";


// General

body {
  background: url('path.jpg') no-repeat 0 0 fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  //background-image: image-url('path.jpg');
  //background-repeat: no-repeat;
  //background-size: 100px;
  //background: lightgray;
  padding-top: 50px;
  margin: 0 0 20px 0;
  
  .content-page {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    
    .content-alert {
      margin: 0 0 10px 0;
    }
    
    .content-filter {
      margin: 0 0 10px 0;
    }
    
    .content-panel {
      padding: 10px;
    }
  }
}


// Intro page

.intro-body {
  padding: 8%;
  
  .navbar {
    border-radius: 0 0 5px 5px;
  }
  
  .intro-page {
    background: white;
    //border-top: 2px solid darken(lightgray, 10%);
    border-radius: 5px;
    padding: 0;
    
    .intro-image {
      width: 100%;
    }
  }
}


// Alerts
.alert {
  margin: 10px 0 0 0;
}


// Typography

h1 {
  font-size: 2.2em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}


// Footer

.footer {
  background: white;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


// Forms

input, textarea, select {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 5px;  

  &.filestyle {
    border: 0px;
  }
    
  &.price-field {
    width: 50%;
  }
    
  &.boolean-field {
    width: 20%;
  }

  &.btn {
    height: auto;
    width: auto;
  }

}
  

// offer price
  
.offer {
  color: red;
}


// buttons gr

.row_buttons {
  display: block;
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn-to-right {
  float: right;
}


// table for show

dl dt {
  padding: 5px;
}

dl dd {
  padding: 5px;
  margin: 5px;
  background-color: #F3F3F3;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

#photo_row {
  background-color: white;
  border: 1px solid white;
}


// center label

.center_label {
  text-align: center;
}



//.navbar {
//   background-color: transparent;
//   background: transparent;
//   border: 0;
//   height: 60px;
//   li {
//     color: black;
// }
//}
//
//.navbar .nav > li > a {
//    #float: none;
//    #line-height: 19px;
//    #padding: 9px 10px 11px;
//    #text-decoration: none;
//    #text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
//    color:  black;
//}

// Pagination

.pagination {
  float: right;  
  a {
    font-size: 0.8em;
  }
}


      
