<div>
  <div class="container thumbnailx center_label">
    <%= link_to image_tag(brand.photo.url(:thumb)), products_path(search: params[:search],tag: params[:tag], brand: brand.name) %>
  </div>
</div>