<div>
  <div class="thumbnail center_label">
    <%= link_to image_tag(brand.photo.url(:thumb)), add_filter_brands_path(brand) %>
    <%= link_to brand.name, add_filter_brands_path(brand) %>
  </div>
</div>