<footer class="footer"> 
  <small>
    Store by <a href="http://www.khawax.com/">KHAWAX</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul> 
  </nav>
</footer>