<footer class="footer"> 
  <small>
    <a href="http://www.garaje4x4.com/">Store</a>
    by KHAWAX
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.khawax.com/">News</a></li>
    </ul> 
  </nav>
</footer>