<footer class="footer"> 
  <small>
    Store by <a href="http://www.khawax.com/">KHAWAX</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('.about'), '#' %></li>
      <li><%= link_to t('.contact'), new_contact_path %></li>
    </ul> 
  </nav>
</footer>
